services:
  php:
    container_name: sales_management_php_${ENV_NO:-1}
    build: ./php
    ports:
      - "${PHP_PORT:-5173}:5173"
    volumes:
      - ../develop:/var/www:cached
      - ./php/php.ini:/usr/local/etc/php/php.ini

  nginx:
    image: nginx
    container_name: sales_management_nginx_${ENV_NO:-1}
    volumes:
     - ../develop:/var/www
     - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
     - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
     - php
    ports:
      - "${NGINX_PORT:-80}:80"

  db:
    platform: linux/x86_64
    image: mysql:8.4
    container_name: sales_management_db_${ENV_NO:-1}
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sales_management
      MYSQL_USER: develop
      MYSQL_PASSWORD: password
      TZ: Asia/Tokyo
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./db/sql:/docker-entrypoint-initdb.d
    ports:
      - "${DB_PORT:-3306}:3306"

  mailpit:
    image: axllent/mailpit:latest
    container_name: sales_management_mailpit_${ENV_NO:-1}
    ports:
      - ${MAILPIT_PORT1:-1025}:1025
      - ${MAILPIT_PORT2:-8025}:8025