/node_modules
/public/css/
/public/fonts/vendor
/public/hot
/public/js/
/public/mix-manifest.json
/public/storage
/resources/assets/build/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
nohup.out
npm-debug.log
yarn-error.log

#OSX
.DS_Store

#IDE
.idea
/public/css/
/public/css/
